//white
$white: #ffffff;
$white2: #fff;
$white3: #f0f0f0;
$white4: #FAF9F6;
$white5: #FAF9F6;

//black
$black: #000000;
$black2:#222;
$black3:rgba(0,0,0,0.9);
$black4:rgba(0,0,0,0.6);
$black5:rgba(77, 75, 75, 0.9);
$black6:rgba(77, 75, 75, 0.3);


//grey
$grey2:#D3D3D3;
$grey3:#777;
$grey4: rgba(255,255,255,0.2);
$grey5:#eeeeee;


//red
$red:red;
$red2:#f42f2c;


//blue
$blue2:#4691f6;
$blue5:#f9f9ff;

//green
$green1:#82ae46;
$green2:#a5d95d;

//gold
$gold2: rgba(230, 216, 123, 0.6);

//orange
$orange:orange;

$light-colors: #FFE7C7, #ACDDDE, #E1F8DC, #FEF8DD;
