@import "./../../Common//Style/Color.scss";
@import "./../../Common//Style/Mixin.scss";
//homeMain section
//index section
.index_section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $black4;
    background-size: cover;   
    .imgCarousal{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        background-size: cover;
        transition: all 3s ease-in-out;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black4;
    }
    .title{
        background-color: transparent;
        color: $white;
        margin: 1.5rem 0;
        margin-top: 8rem;
        font-size: 3rem;
        line-height: 3.1rem;
        font-weight: 400;
        color: $green2;
        z-index: 2;
        @include mobile{
            padding: 0 2rem;
            font-size: 2.3rem;
            margin-bottom: 3rem;
            text-align: center;
        }

    }
    .searchContainer{
        z-index: 2;
        border-radius: $borderRadius10;
        position: relative;
        form{
            border: 0.3rem solid $grey4;
            border-radius: $borderRadius30;
            animation: borderAnimation 3s ease-in-out infinite;
            input{
                flex: 1;
                padding: 0.5rem 1rem 0.5rem 2rem;
                line-height: 1rem;
                border: none;
                border-top-left-radius:$borderRadius30 ;
                border-bottom-left-radius:$borderRadius30 ;
                font-size: 1.2rem;
                line-height: 1.3rem;
                &:focus{
                    outline: none;
                }
            }
            .btn{
                border-top-right-radius:$borderRadius30 ;
                border-bottom-right-radius:$borderRadius30 ;
                padding: 0.5rem 0.6rem;
                border: none;
                width: fit-content;
                background-color: $white;
                &:focus{
                    outline: none;
                }
            }
            @keyframes borderAnimation {
                0% {
                    border-left: 0.1rem solid $grey4;
                    border-right: 0.2rem solid $grey4;
                }
                35% {
                    border-left: 0rem solid $grey4;
                    border-right: 0em solid $grey4;
                }
                70% {
                    border-left: 0.1rem solid $grey4;
                    border-right: 0.2rem solid $grey4;
                }
                100% {
                    border-left: 0.2rem solid $grey4;
                    border-right: 0.4rem solid $grey4;
                }
              }
        }
    }

}
//Features section
.home_feature{
    width: 100%;
    padding: 7rem 0;
    @include mobile{
        gap: 1rem;
        flex-wrap: wrap ;
    }
    .individualFeature{
        background-color: transparent;
        font-family: sans-serif;
        @for $i from 1 through length($light-colors) {
            &:nth-child(#{$i}) .logoDiv{
              background-color: nth($light-colors, $i);
            }
          }         
        .logoDiv{
            padding: 1rem;
            border-radius: 50%;
            margin-bottom: 1rem;
            transition:  background-color 0.2s ease-in;
            transition: transform 0.5s ease-in-out;
            &:hover{
                background-color: $green1;
                transform: scale(1.2);
            }
            svg{
                background-color: transparent;
                border: 1px solid $blue5;
                border-radius: 50%;
                padding: 20px;
            }
        }
        h2{
            font-size: 1.1rem;
            font-weight: 100;
            color: $black;
            margin-bottom: 0.3rem;
        }
        p{
            font-size: 0.7rem;
            font-weight: 100;
            color: $black2;
        }
        @include mobile{
           text-align: center;
           flex-basis: 45%;
        }
    }
}

//Category section
.homeCatagorySection{
    gap: 3rem;
    height: 30rem;
    @include mobile{
        flex-direction: column !important;
        overflow: hidden;
    }
    .HomeCatagoryCard{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 2rem;
        transition: all 0.3s ease-in;
        @include mobile{
            margin-bottom: 0;
        }
        .tag{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.5rem;
            background-color: $green1;
            border-top-right-radius: $borderRadius30;
        }
        &:hover{
            transform: scale(1.1);
        }
    }

   &>div{
        gap: 1rem;
        flex-basis: 25%;
        @include mobile{
            flex-direction: row !important;
            padding: 0 0.8rem;
            overflow: hidden;
        }
    }
    .two{
        div{
            text-align: center;
            h2{
                font-size: 1.4rem;
                font-weight: 700;
                font-family: 'Courier New', Courier, monospace;
                margin-bottom: 0.8rem;
                color: $green1;
            }
            p{
                font-size: 0.8rem;
                line-height: 0.9rem;
                font-weight: 600;
                font-family: 'Courier New', Courier, monospace;
                margin-bottom: 0.5rem;
                color: $black5;
            }
            button{
                width: fit-content;
                background-color: $green1;
                border-radius: $borderRadius30;
                border: none;
                padding: 0.5rem 0.7rem;
                font-weight: 500;
                color: $white;
                transition: all 0.3s ease-in;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
    
    
}
//Frequently Brought section
.HomeFrequentlyBrought_section{
    margin: 5rem 0;
    @include mobile{
        margin: 2rem 0;
    }
    .title_container{
        padding: 2rem 0;
        @include mobile{
            padding: 2rem;
        }
        h2{
          font-size: 2.5rem;  
          font-weight: 700;
          margin-bottom: 1rem;  
        }
        p,h4{
          font-size: 1.1rem;  
          font-weight: 500;
          margin-bottom: 1rem;  
          color: $black4;
        }
        h4{
            font-size: 1.2rem;  
            color: $green1;
        }
    }
    .items_container{
        .wrapper{
            width: fit-content;
            height: fit-content;
            flex-wrap: wrap;
            gap: 2rem;
            margin-left: auto;
            margin-right: auto;
            padding: 0 3rem;
            @include mobile{
                flex-direction: column !important;
                gap: 0 !important;
                overflow-x: hidden;
            }
        section{
            flex-basis: 22%;
            height: auto;
            @include mobile{
                margin-bottom: 1rem;
            }
        }
    }
    }

}
//Dealer section
.homDeal_section{
    height: 40rem;
    padding: 2rem;
    gap: 4rem;
    @include mobile{
        height: auto !important;
        flex-direction: column !important;
        position: relative;
        overflow-x: hidden;
    }
    img{
        flex: 1;
        max-height: 80%;
        min-height: 80%;
        border-radius: $borderRadius10;
        object-fit: cover;
        object-position: center;
        @include mobile{
            flex: unset;
            height: 18rem;
            width: 22rem;
        }
    }
    .content{
        padding: 1rem 0;
        flex: 1;
        .title{
            font-size: 4rem;
            margin: 0.8rem 0;
        }
        .subtitle{
            color: $green1;
            font-size: 2rem;

        }
        .description{
            font-size: 1.3rem;
            font-weight: 400;
            color: $black4;
            margin: 0.5rem 0;
        }
        .itemName{
            font-size: 2.5rem;
            color: $green1;
        }
        .price{
            padding: 0.5rem 0;
            font-size: 1.2rem;
            font-weight: 600;
            .oldprice{
                text-decoration: line-through;
                color: $grey3;
            }
            span{
                margin-right: 0.3rem
            }
        }
        .dealTimer{
            gap: 1rem;
            padding-top:1rem; 
            font-size: 2rem;
            font-weight: 700;
            color: $green1;
            text-align: center;
            p{
                color: $black;
                font-size: 1rem;
                font-weight: 400;
                font-family: serif
            }
        }
        .addToCart{
            width: fit-content;
            margin-top: 0.5rem;
            padding: 1rem 3rem;
            font-size: 1.3rem;
            font-weight: 500;
            border: none;
            border-radius: $borderRadius30;
            transition: all 0.3s ease-in-out;
            background-color: $green1;
            color: $white;
            &:disabled{
                background-color: $black4;
                cursor: not-allowed;
            }
        }
        .dealEndMsg{
            margin: 1rem 0;
            color: $green1;
            font-size: 1.5rem;
            font-weight: 500;
        }
    };
}
//Customer Reviews section
.HomeCustomerReview{
    max-width: 100%;
    margin: 2rem 0;
    text-align: center;
    gap: 3rem;
    overflow: hidden;
  @include mobile{
    margin: 1rem 0;
    margin-bottom: 3rem;
    }
    .title_section{
        margin-left: auto;
        margin-right: auto;
        p{
            margin: auto;
            text-align: center;
            width: fit-content;
            max-width: 80%;
        }
        .title{
            font-size: 4rem;
            margin: 1rem 0 0.3rem 0;
        }
        .subtitle{
            color: $green1;
            font-size: 2rem;
            margin: 0.5rem 0 0 0;

        }
        .description{
            font-size: 1.3rem;
            font-weight: 400;
            color: $black4;
            margin: 0.8rem 0;
        }
    }
    .content_section{
       .wrapper{
        width: fit-content;
        margin: 1rem 5rem;
        @include mobile{
            margin: 0 !important;
            flex-direction: column !important;
        }
            .HomeCustomerReviewCard_section{
                width: 25%;
                position: relative;
                @include mobile{
                    width: unset;
                    padding: 1rem 2rem;
                }
            .imgContainer{
                img{
                    padding: 2rem;
                    border-radius: 50%;
                    width:6rem ;
                    height:6rem ;
                }
            }
            .descriptionContainer{
                padding-top: 1.5rem;
            }
            .name_positionContainer{
                .name{
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                    font-weight: 600;
                }
                .position{
                    font-size: 0.8rem;
                    font-weight: 400;
                }
            }    
            .descriptionContainer{
                color: $black5;
                font-size: 0.9rem;
                font-weight: 400;
            }
            }
            .HomeCustomerReviewCard_section::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 0.3rem;
                height: 15%;
                background-color: $green1; 
                @include mobile{
                    display: none;
                }
              }

       }
    }
    .dot_section{
        align-self: center;
        .item{
            background-color: $grey3;
            width: 1rem;
            height: 1rem;
            margin: 0.4rem;
            border-radius: 50%;
        }
        .selected{
            background-color: $green1;
            transform: scale(1.2);
            box-shadow: 0px 7px 15px -5px $black4 ;
        }
    }
}